.createAccount_container{
    display: flex;
    justify-content: space-around;
}

#createAccount_logo{
    display:flex;
    align-items: center; 
    text-decoration: none;
    color: #57949F;
    font-family: Kefa;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top:100px
}

.createAccount_logo_caption{
    margin-top:20px;
    margin-bottom:200px;
    text-align: center;
    font-size: 25px;
    font-family: 'Sinhala Sangam MN';
    color:#57949F;
}

.create_accountForm{
    width:75%; 
    margin:0 auto;
}


.createAccount_image{
    flex:50%;
}

.createAccount_image_conent{
    max-height: 100vh;
    margin: auto;
}

.createAccount_content{
    flex:50%;
}


#logo{
    height:60px;
    border-color: white;
    float: left;
    fill:#57949F;
    margin-top:6px;
}

.createAccount_form_label{
    display:block;
    color:#A7A6A6;
    font-size: 12px;
    margin-bottom: 10px;
}

.createAccount_form_input_field{
    display:block;
    border:none;
    background-color: transparent;
    border-bottom: #A7A6A6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width:550px;
    outline: none;
    font-size: 25px;
    margin-bottom: 15px;
}

.createAccount_form_button{
    width:44%;
    height:60px;
    border-radius: 25px;
    background:#57949F;
    color: white;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: bolder;
    cursor: pointer;
}