#familyBlock__container{
    /* border: 1px solid black; */
    width: 100%;
    margin-bottom: 10px;
}

#familyBlock_title{
    font-size: 40px;
    font-family: helvetica;
    font-weight: bold;
}

#familyBlock__parent{
    display:inline-block;
    margin-right: 50px;
    border: 1px solid black;
}

#familyBlock{
    margin-left: auto;
    margin-right: auto;
}


