#mainContent{
    margin-left:150px;
    margin-right:150px;
}

.familyHistory_text{
    font-size: 10px;
    font-family: helvetica;
}

.familyHistory_name{
    font-size: 12px;
    font-family: helvetica;
    margin-bottom: 10px;
    font-weight: bold;
}

body {
    font: 10px sans-serif;
}
.linage {
    fill: none;
    stroke: #000;
}
.marriage {
    fill: none;
    stroke: black;
}
.man {
    background-color: #B4DCFF;
    border-style: solid;
    border-width: 1px;
    border-color: #707070;
    box-sizing: border-box;
    padding-top:20px;
    padding-bottom:20px;
}

.woman {
    background-color: #FAD3FF;
    border-style: solid;
    border-width: 1px;
    border-color: #707070;
    box-sizing: border-box;
    padding-top:20px;
    padding-bottom:20px;
}
.emphasis{
    font-style: italic;
}
p {
    padding:0;
    margin:0;
}
svg {
    border-style: solid;
    border-width: 1px;
    border-color: #707070;
    cursor: grab;
}

#familyHistory_Image{
    margin:3px;
    padding-bottom: 10px;;
}

.name_input{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16;
    font-family: helvetica;
}

.dod_input{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.dob_input{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.familyHistory__buttonEdit{
    display: inline;
}

.familyHistory__buttonSave{
}



.modal {
    display: none;
}

.familyHistory_buttons{
    display: flex;
    justify-content: space-between;
    padding:5px;

}