#fileInput__form{
    margin-bottom: 30px;
    margin-top: 10px;
}

#fileInput__button{
    background-color: #57949F;
    color: white;
    border-radius: 10px;
    padding:10px;
    height: 40px;
}

#fileInput_treename{
    width:300px;
    background-color: #EBEBEB;
    border:none;
    height: 30px;
    margin-bottom: 10px;
}

#fileInput_list{
    background-color: #EBEBEB;
    border:none;
    width:300px;
    margin-bottom: 10px;
    border-radius: 0px;
}

#fileInput_styledUpload{
    cursor: pointer;
    background-color: #57949F;
    color: white;
    padding:12px;
    margin-bottom: 10px;;
    border-radius: 10px;
    height: 15px;
    margin-right: 10px;
}

#fileInput_upload{
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#fileInput_buttons{
    display: flex;
}

.fileInput_label{
    width:30px;
}