#groupTable__title{
    padding:10px;
    font-size: 20px;
}

#groupTable{
    width:100%;
    height: auto;
}

#groupTable__content{
    text-align: center;
    font-family: helvetica;
    font-size:12px;
    padding: 5px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0dfdf;
}

#groupTable__content_clickable{
    text-align: center;
    font-family: helvetica;
    font-size:12px;
    padding: 5px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0dfdf;
    cursor: pointer;
    color: purple;
}

#groupTable__header{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0dfdf;
    margin:10px;
    padding: 5px;
}

.groupTable__row__selected{
    background-color: #E0E0E0;
}

#groupTable_form{
    display: none;
}
