#homeMainContent{
    margin-left:150px;
    margin-right:150px;
}

#homeTitle{
    text-align: center;
    font-family: Helvetica Neue;
    margin-bottom: 50px;
}

#homeMainTitle{
    margin-top: 50px;
    font-size: 50px;
}

#homeSubTitle{
    font-size: 25px;
    color: #707070;
}

#homeBox {
    display: flex;
    justify-content: center; 
}
       