#mainContent{
    margin-left:150px;
    margin-right:150px;
}

#import_title{
    font-size: 25px;
    font-family: helvetica;
}



#import_content{
    display:flex;
}

#import_settings{
 border: 1px solid #ACACAC;
 background-color: #F8F8F8;
 margin-right: 30px;
 padding: 10px;
 border-radius: 5px;
 margin-bottom: 30px;

}


#import_table{
    flex-grow: 1;
    border: 1px solid #ACACAC;
    background-color: #F8F8F8;
    padding: 10px;
    border-radius: 5px;
    min-height: 500px;;
}
