br{
    margin-top: -30px;
}

#landing_title{
    margin-left:150px;
    margin-right:150px;
    margin-top: 50px;;
    font-size: 100px;
    color: #57949F;
    font-family: 'noteworthy';
    text-align: center;
    line-height:1em;
    margin-bottom:20px;
}

#landing_title_caption{
    margin-left:150px;
    margin-right:150px;
    text-align: center;
    color:#57949F;
    font-size: 20px;
    font-family: 'Sinhala Sangam MN';
}

#landing_intro{
    margin-top: 50px;
    margin-left:150px;
    margin-right:150px;
    display:flex;
    justify-content: space-between;
}

#landing_intro_text_title{
    margin-left: 70px;
    color:#57949F;
    font-size: 50px;
    width:300px;
    font-family: 'Sinhala Sangam MN';

}

#landing_intro_text_content{
    color:#57949F;
    font-size: 25px;
    width:300px;
    margin-left: 70px;    
    font-family: 'Sinhala Sangam MN';
}

#landing_intro_image{
    width:800px;
}

#landing_features_outer{
    background-color: #F7F7F7;
    margin-top:60px;

}

#landing_features{
    display:flex;
    justify-content: space-between;
    margin-left:150px;
    margin-right:150px;
    padding: 40px;
}

#landing_features_image{
    margin-left:60px;

}

#landing_features_image_cropped{
    width:400px;
    margin-top: 180px;
}

#landing_features_text{
    margin-left: 80px;
    
}

#landing_features_text_title{
    font-family: 'Sinhala Sangam MN';
    color:#57949F;
    font-size: 50px;
    font-weight: bold;
}

#landing_features_text_caption{
    font-family: 'Sinhala Sangam MN';
    color:#57949F;
    font-size: 25px;
    margin-top: 50px;

}



ul li:before{ 
    font-size:60pt; 
}



#landing_features_text_caption > ul > li{
    padding-bottom: 30px;
}

#landing_pupose{
    margin-top:80px;
    display:flex;
    justify-content: space-evenly;
    margin-left:150px;
    margin-right:150px;
}

#landing_pupose_benefits_title{
    font-family: 'Gill Sans';
    color: #57949F;
    font-size: 40px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
}

#landing_pupose_benefits_content{
    font-family: 'Sinhala Sangam MN';
    color: #57949F;
    font-size: 20px;
    text-align: center;
    width:500px;
    margin-bottom: 100px;

}

#divider{
    border-width: thin;
    border-color: #A7A7A7;
    border-style: solid;
    width:80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#landing_divider{
    width: 100%;
    margin-bottom: 80px;

}

#landing_register{
    display: flex;
    justify-content: center;
}

#landing_register_button{
    height: 80px;
    background-color: #57949F;
    color: white;
    width: 300px;
    font-size: 30px;
    font-family: 'Sinhala Sangam MN';
    border-radius: 50px;
    margin-bottom: 80px;
}