#largeTile{
    width:300px;
    box-shadow: 0px 3px 8px #888888;
    margin-left:20px;
    margin-right:20px;
    text-decoration: none;

}

#largeTile:hover{
    box-shadow: 0px 3px 8px #57949F;
}

#largeTileHeader{
    font-size: 20px;
    font-family: helvetica;
    text-align: center;
    margin: 30px;
    color:#707070;
}

#largeTileImage{
    height:200px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-bottom: 30px;
}

#largeTile_divider{
    border: 0.5px solid #E3E3E3;
    margin-bottom: 30px;
    width:40%;
    margin-left: auto;
    margin-right: auto;
}

#largeTile_caption{
    font-family: 'Helvetica';
    font-size: 25px;
    color:black;
    text-decoration: none;
    text-align: center;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;

}