.login_container{
    display: flex;
    justify-content: space-around;
}

.login_image{
    flex:50%;
}

.login_image_conent{
    max-height: 100vh;
    margin: auto;
}

.login_content{
    flex:50%;
}
.login_form{
    width:75%; 
    margin:0 auto;
}

.login_form_label{
    display:block;
    color:#A7A6A6;
    font-size: 12px;
    margin-bottom: 10px;
}

.login_form_input_username{
    display:block;
    border:none;
    background-color: transparent;
    border-bottom: #A7A6A6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width:550px;
    outline: none;
    font-size: 25px;
}

.login_form_input_username_error{
    visibility:hidden;
    color:red;
    margin-bottom: 20px;
}

.login_form_input_password{
    display:block;
    border:none;
    background-color: transparent;
    border-bottom: #A7A6A6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width:550px;
    outline: none;
    font-size: 25px;
}

.login_form_input_password_error{
    visibility:hidden;
    color:red;
}

.login_form_createaccount{
    text-align:right;
    width:550px;
    font-size:13px;
    /* color: ; */
    margin-top: 5px;
    margin-bottom: 60px;
}

.login_form_button{
    width:550px;
    height:60px;
    border-radius: 50px;
    background:#57949F;
    color: white;
    font-size: 35px;
    font-family: Helvetica;
    font-weight: bolder;
    cursor: pointer;
}


#login_logo{
    display:flex;
    align-items: center; 
    text-decoration: none;
    color: #57949F;
    font-family: Kefa;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top:100px
}

.login_logo_caption{
    margin-top:20px;
    margin-bottom:300px;
    text-align: center;
    font-size: 25px;
    font-family: 'Sinhala Sangam MN';
    color:#57949F;
}

#logo{
    height:60px;
    border-color: white;
    float: left;
    fill:#57949F;
    margin-top:6px;
}

.login_form_incorrect{
    visibility: hidden;
}