#longTile{
    width:100%;
    height:200px;
    box-shadow: 0px 3px 8px #888888;
    margin-bottom:20px;
    display: flex;
    align-content: space-between;
}

#longTile:hover{
    box-shadow: 0px 3px 8px #57949F;
}

#longTile_keyValue{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 30px;
    padding-left: 20px;
    margin-left:auto;
    margin-right:auto;

}

#longTile_key{
    font-family: helvetica;
    font-size:25px;
    text-align: center;
}

#longTile_value{
    font-family: helvetica;
    font-size:25px;
    color:#707070;
    text-align: center;
    padding:50px;
}

#longTile_download{
    font-family: helvetica;
    font-size:25px;
    text-align: center;
    color:#57949F;
    cursor: pointer;
}

#longTile_information{
    display:flex;
    justify-content: flex-end;
}

#longTile_name{
    display: flex;
    width: 100%;
}