#mergeTrees_mainContent{
    margin-left:400px;
    margin-right:400px;
}

#mergeTrees_content{
    margin-top: 50px;
    border:1px solid #ACACAC;
    border-radius: 5px;
    background-color: #F8F8F8;
    padding:10px
}

#mergeTree_title{
    font-family: 'Helvetica Neue';
    font-size: 30px;
    margin-bottom: 15px;
}

.mergeTrees_caption{
    font-family: 'Helvetica';
    font-size: 15px;
    margin-bottom: 15px;

}

#mergeTrees_buttons{
    display: flex;
    /* align-items: center; */
    margin-bottom: 20px;
    justify-content: center;
}


.mergeTrees_button{
    font-family: 'Helvetica Neue';
    font-size: 18px;
    background-color: #F8F8F8;
    border: 3px solid #57949F;
    border-radius: 25px;
    margin-left:15px;
    margin-right:15px;
    width:100px;
    height: 35px;
    text-align: center;
    padding:0px;
    line-height: 35px;
    cursor: pointer;
}

.mergeTrees_button_selected{
    background-color: #72B3BF;
    color: white;
}


#mergeTrees_buttonPressed{
    font-family: 'Helvetica Neue';
    font-size: 18px;
    background-color: #72B3BF;
    color: white;
    border: 3px solid #57949F;
    border-radius: 25px;
    margin-left:15px;
    margin-right:15px;
    width:100px;
    height: 40px;
}

#mergeTrees_subheading{
    font-family: 'Helvetica Neue';
    font-size: 30px;
    margin-bottom: 10px;

}

#mergeTrees_list{
    background-color: #EBEBEB;
    border:none;
    border-radius: 0px;
}

#mergeTrees_name{
    background-color: #EBEBEB;
    border:none;
    height: 30px;
}

#mergeTrees_submitForm{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#mergeTrees_section{
    margin-bottom: 20px;
}

#mergeTrees_cancel{
    font-family: 'Helvetica Neue';
    font-size: 15px;
    background-color: white;
    border: 1px solid #DB2C2C;
    border-radius: 8px;
    width:100px;
    height: 45px;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
}

#mergeTrees_merge{
    font-family: 'Helvetica Neue';
    font-size: 15px;
    font-weight: bold;
    background-color: #57949F;
    color: white;
    border-radius: 8px;
    width:100px;
    height: 45px;
    margin-right: 5px;
    margin-left: 5px;
}