.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 1350px;
    height: 800px;
    background-color: rgba(0,0,0,0.25);
}
  
.modal_content {
   background-color: white;
   position: absolute;
   top: 20%;
   left: 30%;
   width: 40%;
   padding: 20px;
   border-radius: 5px;
   border: 2px solid black;
}

.close {
   color: Black;
   float: right;
}
  
.close:hover {
    color: red;
    cursor: pointer;
  }

.modal_fields{
    margin:10px;
}

.modal_keyValue{
    display:flex;
    justify-content: space-between;
    padding:10px;
}

.modal_label{

}
.modal_field{

}

.modal_dropdown{
    
}