﻿#navHeader{
    margin-left:150px;
    margin-right:150px;
    color:white;
    font-family: Kefa;
    font-size: 30px;
    height: 100%;    
    display:grid;
    grid-template-columns: auto auto;

}

#logo{
    height:60px;
    border-color: white;
    float: left;
    fill:#FFFFFF;
    margin-top:6px;
}

#nav{
    height: 100px;
    width: 100%;
    background-color: #57949F;
}

#navOptions{
    display:flex;
    align-items: center; 
    margin-left: auto;
    float: right;
    margin:none;
    color:black;
    font-size:10px;
}

#container{
    display:flex;
    align-items: center; 
    text-decoration: none;
    color: #FFFFFF;
}

.navOption{
    margin-left: 30px;
    font-size: 17px;
    font-family: Rockwell;
    color: #FFFFFF;
    text-decoration: none;
}

.navOption2{
    margin-left: 30px;
    font-size: 17px;
    font-family: Rockwell;
    color: #57949F;
    text-decoration: none;
    background: white;
    width:65px;
    border-radius: 12px;
    text-align: center;
    padding:8px;
}