#mergeTree__form{
    margin-bottom: 5px;
    margin-top: 10px;
}

#mergeTree__button{
    background-color: #57949F;
    color: white;
    border-radius: 10px;
    padding:10px;

}

#mergeTree_list{
    background-color: #EBEBEB;
    border:none;
    width:100%;
    margin-bottom: 10px;
    border-radius: 0px;
}