#shortTile{
    width:680px;
    height:200px;
    box-shadow: 0px 3px 8px #888888;
    margin-bottom:20px;
    display: flex;
    cursor: pointer;
}

#shortTile:hover{
    box-shadow: 0px 3px 8px #57949F;
}

#shortTile_keyValue{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 30px;
    padding-left: 20px;
    margin-left:auto;
    margin-right:auto;

}

#shortTile_key{
    font-family: helvetica;
    font-size:20px;
    text-align: center;
}

#shortTile_value{
    font-family: helvetica;
    font-size:15px;
    color:#707070;
    text-align: center;
    padding:30px;
}

#shortTile_information{
    display:flex;
    justify-content: flex-end;
}

#shortTile_name{
    display: flex;
    width: 100%;
}