#table{
    margin-top: 20px;
    width:100%;
}

#table__row{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0dfdf;
    margin:10px;
    padding: 5px;
}

#table__content{
    text-align: center;
    font-family: helvetica;
    font-size:12px;
    padding: 5px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0dfdf;
}

#table__image{
    text-align: center;
    cursor: pointer;
}