#userTable{
    width:100%;
}

#userTable__title{
    padding:10px;
    font-size: 20px;
}

#userTable_tableContent{
    text-align: center;
    font-family: helvetica;
    font-size:12px;
    padding: 5px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0dfdf;
}

#userTable_tableHeader{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0dfdf;
    margin:10px;
    padding: 5px;
}