#mainContent{
    margin-left:150px;
    margin-right:150px;
}

#users_tables{
    display:flex;
}

#users__table{
    border: 1px solid #ACACAC;
    background-color: #F8F8F8;
    border-radius: 5px;
    margin-bottom: 30px;
    width:100%;
    margin-right:10px;
    height: 100%;
}

